@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 20px;
}

body {
    background: #f5f5f5; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER */
.header .logo{
    cursor: pointer;
}

header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;

    position: sticky; top: 0; 
    backdrop-filter: blur(45px);
}

/* LOGO */
.header .logo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.1); 
}

/* TEXTO GENERAL */
div {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* SECCIONES */
.texto {
    background: #ffffff; 
    max-width: 1000px;
    width: 100%;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
}

.texto1 {
    background: #e5e7eb; 
    max-width: 1000px;
    width: 100%;
    padding: 30px;
    margin: 20px auto;
    text-align: justify;
    border-radius: 10px;
}

.texto2{
    background: #e5e7eb; 
    max-width: 1000px;
    width: 100%;
    padding: 30px;
    margin: 20px auto;
    text-align: justify;
    border-radius: 10px;
}

h2{
    text-align: center;
}

/* NAV */
.header .nav_links {
    list-style: none;
}

.header .nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav_links a{
    font-weight: 600;
    color: #e5e7eb; 
    text-decoration: none;
    transition: 0.3s;
}

.header .nav_links li:hover{
    transform: scale(1.1);
}

.header .nav_links li a:hover{
    color: #60a5fa; 
}

/* BOTÓN */
.header .navegar button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #3b82f6; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .navegar button:hover{
    background-color: #2563eb;
    transform: scale(1.1);
}

.header .nav_links .inicio{
    font-weight: 600;
    color: #e5e7eb; 
    text-decoration: none;
    transition: 0.3s;
    display: inline-block; 
}

.header .nav_links .inicio:hover{
    transform: scale(1.1);
    color: #60a5fa; 
}
/* TEXTO */
strong {
    font-weight: bolder;
}

.navegar {
    color: #111827;
    line-height: 1.4;
    letter-spacing: 1px;
}

/* INPUTS */
.formulario_input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* IMAGEN */
.imagen {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

/* FORMULARIO */
.FOR {
    background-color: #1f2937; 
    color: white;
    padding: 30px;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 10px;
}


.cuadro_de_mi {
    text-align: center;
}

.cuadro_coment {
    width: 80%;
    height: 150px;
}

/* CONTENEDOR DE IMÁGENES */
.contenedor_imagenes{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* importante para celular */
    margin-top: 20px;
}

/* TARJETAS */
.tarjeta{
    text-align: center;
}

/* IMÁGENES */
.tarjeta img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s;
}

/* EFECTO HOVER */
.tarjeta img:hover{
    transform: scale(1.05);
}

/* TEXTO */
.tarjeta p{
    margin-top: 10px;
    font-weight: 600;
}

.logo_pestaña {
    display: block;
    max-width: 36px;
    width: 85%;
    border-radius: 36px;
}
