body{
    background: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.texto{
    background: rgb(206, 196, 192);
    width: 1000px;
    height: 40px;
    padding: 30px;
    text-align: justify;
    justify-content: center;
}

.texto1 {
    background: rgb(204, 181, 181);
    width: 1000px; 
    height: 150px;
    padding: 30px;
    justify-content: center;
}

samp{
    font-weight: bolder;
}

div {
    font-family: Arial, sans-serif;
    text-align: center;
}
.navegar{
    color: rgb(0, 0, 0);
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: justify;
    
}

.formulario_input {
    padding: 2px 5px;
    width: 300px;
    justify-content: center;

}

.imagen {
    text-align: justify;

    text-align: center;
}

.FOR {
    background-color: blueviolet;
    padding: 30px;
    width: 500px;
    justify-content: center;
}

.cuadro_de_mi{

    justify-content: left;
}
